<ion-header>
  <ion-toolbar>
    <ion-title>
        LINKS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-list lines="none">
    <ion-card class="card">
      
      
      <ion-item href="https://www.moh.gov.sa/Pages/Default.aspx" target='_blank'>
        <ion-label>Ministry Of Health</ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="card">

      
      <ion-item href="http://www.sfda.gov.sa/ar/Pages/default.aspx"  target='_blank' >
        <ion-label>saudi food & drug authority</ion-label>
      </ion-item>
      
    </ion-card>
      
    <ion-card class="card">

      <ion-item href="https://www.cchi.gov.sa/Pages/default.aspx"  target='_blank'>
        <ion-label><h5>council of cooperative health insurance</h5></ion-label>
      </ion-item>
    
    </ion-card>
      
    
    <ion-card class="card">

      <ion-item href="https://www.who.int/home"  target='_blank'>
        <ion-label>world health organization</ion-label>
      </ion-item>
    
    </ion-card>
    
  </ion-list>

 
  
  
  
</ion-content>
