.item{
    margin-top: 10px;
    border-radius: 5px;
}

fieldset {
    border-color:silver;
    border-left: 0px;
    border-right: 0px;
    color: rgb(110, 108, 108);
    
}
fieldset a{
    color:inherit;
    text-decoration: none;
}
